<div class="card shadow-lg mt-5"> <!--Tworzenie nagłówka strony (banera na środku) z cieniem: Górny margines 5-->
    <div class="card-header text-center"><!--Text wycentrowany-->
        <h1 class="display-6 f2-bold">Lista gier</h1> <!-- pogeubienie, rozmiar czcionki 6-->
    </div>
    <div class="card-body p4"> <!-- Tworzenie przcisku z polem textowym-->
        <div class="input-group">
            <input type = "text" class="form-control" placeholder="Wpisz tytul gry"> <!--placeholder - domyslny napis w miejscu-->
            <button class="addButton">
                <i class="fa-solid fa-circle-plus fa-xl"></i>
            </button>
        </div>
    </div>
</div> 